<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javasm.crm.mapper.GoodsBrandMapper">

    <select id="getMaxId" resultType="java.lang.String">
        SELECT MAX(id) FROM crm_goods_brand;
    </select>
</mapper>
